


<div class="dropdown clearfix pull-right">
     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       排序
         <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
         <li>
           <%= link_to("按工资下限排序", jobs_path(:order => "by_lower_bound")) %>
         </li>
         <li>
             <%= link_to("按工资上限排序", jobs_path(:order => "by_upper_bound")) %>
 
         </li>
         <li>
           <%= link_to("发布时间", jobs_path ) %>
 
         </li>
     </ul>
 </div>

<table class="table table-boldered table-striped custab">
<thead>
  <tr>
  <td>职位</td>
  <td>竞争人数</td>
  <td>工资范围</td>
 <td>发布时间</td>
  <td>操作</td>
  
</tr>
</thead>
<tbody>

  <% @jobs.each do |job| %>
  <tr>
    <td>
    <%= render_job_status(job) %>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.resumes.count %>
    </td>
    <td >
      <span class="badge">¥ <%= job.wage_lower_bound%> - <%= job.wage_upper_bound%></span>
      
    </td>
   
   <td>
      <%= job.created_at.to_date %>
    </td>

    <td>
      
                        <%= link_to("应征", new_job_resume_path(job), class: "btn btn-xs btn-success", method: :get) %>
                      


    </td>
    
  </tr>
  <% end %>
</tbody>
</table>

